---
import Layout from "../layouts/Layout.astro";
import Navbar from "../components/Navbar.astro";
import Hero from "../components/Hero.astro";
import About from "../components/About.astro";
import WhyChooseUs from "../components/WhyChooseUs.astro";
import AcademicLevels from "../components/AcademicLevels.astro";
import Facilities from "../components/Facilities.astro";
import AdmissionsCta from "../components/AdmissionsCta.astro";
import Gallery from "../components/Gallery.astro";
import PrincipalMessage from "../components/PrincipalMessage.astro";
import Location from "../components/Location.astro";
import Footer from "../components/Footer.astro";
---

<Layout>
  <Navbar />
  <main>
    <Hero />
    <About />
    <WhyChooseUs />
    <AcademicLevels />
    <Facilities />
    <AdmissionsCta />
    <Gallery />
    <PrincipalMessage />
    <Location />
  </main>
  <Footer />
</Layout>
