---
import Layout from "../layouts/Layout.astro";
import BrandHeader from "../components/BrandHeader.astro";
import Navbar from "../components/Navbar.astro";
import Hero from "../components/Hero.astro";
import PosterSlider from "../components/PosterSlider.astro";
import NoticeBoard from "../components/NoticeBoard.astro";
import About from "../components/About.astro";
import WhyChooseUs from "../components/WhyChooseUs.astro";
import AcademicLevels from "../components/AcademicLevels.astro";
import Facilities from "../components/Facilities.astro";
import PrincipalMessage from "../components/PrincipalMessage.astro";
import Faculty from "../components/Faculty.astro";
import AdmissionsCta from "../components/AdmissionsCta.astro";
import Gallery from "../components/Gallery.astro";
import ParentFormCTA from "../components/ParentFormCTA.astro";
import Location from "../components/Location.astro";
import Footer from "../components/Footer.astro";
import AcademicBackgroundDoodles from "../components/AcademicBackgroundDoodles.astro";
---

<Layout>
  <BrandHeader />
  <Navbar />
  <main>
    <Hero />
    <div class="content-with-doodles">
      <AcademicBackgroundDoodles />
      <PosterSlider />
      <NoticeBoard />
      <About />
      <WhyChooseUs />
      <AcademicLevels />
      <Facilities />
      <PrincipalMessage />
      <Faculty />
      <AdmissionsCta />
      <Gallery />
      <ParentFormCTA />
      <Location />
    </div>
  </main>
  <Footer />
</Layout>

<style>
  .content-with-doodles {
    position: relative;
  }
</style>
