---
import Layout from "../layouts/Layout.astro";
import BrandHeader from "../components/BrandHeader.astro";
import Navbar from "../components/Navbar.astro";
import Hero from "../components/Hero.astro";
import PosterSlider from "../components/PosterSlider.astro";
import NoticeBoard from "../components/NoticeBoard.astro";
import About from "../components/About.astro";
import PrincipalMessage from "../components/PrincipalMessage.astro";
import AcademicLevels from "../components/AcademicLevels.astro";
import AcademicHighlights from "../components/AcademicHighlights.astro";
import WhyChooseUs from "../components/WhyChooseUs.astro";
import Facilities from "../components/Facilities.astro";
import Faculty from "../components/Faculty.astro";
import AdmissionsCta from "../components/AdmissionsCta.astro";
import Gallery from "../components/Gallery.astro";
import ParentFormCTA from "../components/ParentFormCTA.astro";
import Location from "../components/Location.astro";
import Footer from "../components/Footer.astro";
---

<Layout>
  <BrandHeader />
  <Navbar />
  <main>
    <Hero />
    <PosterSlider />
    <NoticeBoard />
    <About />
    <PrincipalMessage />
    <AcademicLevels />
    <AcademicHighlights />
    <WhyChooseUs />
    <Facilities />
    <Faculty />
    <AdmissionsCta />
    <Gallery />
    <ParentFormCTA />
    <Location />
  </main>
  <Footer />
</Layout>
